// _table-styles.scss
@import 'variables';

.vue-table {
  width: 100%;
  border-collapse: collapse;

  th {
    --el-table-header-bg-color: var(--el-color-primary-light-9);
    --el-table-current-row-bg-color: var(--el-color-primary-light-11); //не работает
    font-size: small;
  }
}